@use "../../sass/base/reset";
@use "../../sass/abstract/variables";
@use "../../sass/abstract/mixins";

.main {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp6398974.jpg&f=1&nofb=1&ipt=c800d2398c6e638aeafae8f18beb269a3c3b131dfaaa40062c7cc16a3b6b2887&ipo=images");
    background-color: variables.$quaternary;
    background-repeat: no-repeat;
    background-size: 100% 100% ;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: fixed;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

       .buttonContainer{
            display: flex;
            justify-content: space-evenly;
            width: 30em;
       }

       .inputContainer{
            @include mixins.centerAll;
            flex-direction: column;
            .description{
                @include mixins.descriptionStyle;

                .highlight{
                    &:hover {
                        cursor: pointer;
                        color: black;
                    }
                }
            }

       }

    }

}