@use "../../sass/abstract/variables";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: variables.$secundary;
    width: 100%;
    height: 5em;
    border-radius: 1%;

    &:hover{
        cursor: pointer;
    }

    .icon{
        margin-right: 1em;

        img{
            width: 2.5em;
            height: 2.5em;
            opacity: 0.85;
        }
    }

    .text{
        font-size: 1.7em;
        font-weight: bolder;
        font-family: variables.$tilt-neon;
        color: black;
    }
}
