@use "../../sass/base/reset";
@use "../../sass/abstract/variables";
@use "../../sass/abstract/mixins";


.main{
    background-color: variables.$primary;
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    .content{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin: 2%;

        .userContainer{
            display: flex;
            align-items: center;
            flex-direction: column;
            position: sticky;

            background-color: variables.$quaternary;
            width: 20%;
            height: 90%;

            border-radius: 1%;

            box-shadow: 3px 3px 6px black;
            
            .icons {
                display: grid;
                justify-items: center;
                align-items: center;

                grid-template-columns: 50% 50%;
                grid-template-rows: 25% 25%;

                grid-row-gap: 0em;
                grid-column-gap: 0.3vw;
                height: 100%;
            }
        }

        .todocontainer{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-color: variables.$quaternary;
            width: 70%;
            height: 90%;

            border-radius: 1%;

            box-shadow: 3px 3px 6px black;
            margin-left: 2em;

            .menu{
                background-color: variables.$secundary;
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                width: fit-content;
                padding: 1em;
                border-radius: 1%;
                width: auto;

                &:hover{

                    span{
                        cursor: pointer;
                    }

                }
                
                .button {
                    display: flex;
                    align-items: center;
                    font-size: 1.2em;
                    font-family: variables.$tilt-neon;
                    color: black;
                    text-align: left;


                    img {
                        width: 2em;
                        height: 2em;
                        margin-right: 8px;
                    }

                }
            }
        }
    }
}