@import "../../sass/abstract/variables";

.button{
    border-style: none;
    border-radius: 5%;

    color: $secundary;
    background-color: $quaternary;

    font-size: 2em;
    font-family: $tilt-neon;
    padding: 0.3em;

    margin: 0.5em 0em;

    box-shadow: 2px 2px 2px black;
    

    &:hover{
        background-color: $secundary;
        color: $quaternary;
        cursor: pointer;
    }
}