@import "../../sass/abstract/variables";

.container{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1.5em;

    .title{
        font-size: 5em;
        font-family: $tilt-neon;
        color: $tertiary;

        text-shadow: black 1px 2px;
        opacity: 1;
    }

    .logo{
        width: 4.5em;
        height: 4.5em;

        max-width: 100%;
        opacity: 1;
    }
}