@use "../../sass/abstract/variables";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: variables.$secundary;
    border: 4px solid variables.$quaternary;
    border-radius: 50%;

    width: 8.5vw;
    height: 8.5vw;
    

    .icon{
        font-size: 3.7vw;
        margin-bottom: 0.1em;
    }

    .username{
        font-size: 1vw;
        font-weight: bolder;
        font-family: variables.$tilt-neon;
        color: black;
    }
}
