@import "../../sass/abstract/variables";

.home {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    width: 100%;

    background-color: $primary;
    border-radius: 1%;
    margin-bottom: 2em;

    .text{
        font-size: 1.2em;
        font-family: $tilt-neon;
        color: $quaternary;
        text-align: left;

        padding: 0.5em 1em;
    }

    .buttons{
        display: flex;
        flex-direction: row;
    }
}