/* Colors */
$primary: #96ED89;
$secundary: #45BF55;
$tertiary: #168039;
$quaternary: #044D29;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Young+Serif&display=swap');

$tilt-neon: 'Tilt Neon', sans-serif;